body {
    height: 100%;
    font-family: Roboto, sans-serif;
    margin: 0;   
}

.row{
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}

.wrap, .card p{
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center
}

.backgroundDark{
    background-color: #1f2937;     
}

.lightColor


/*  Start Header */

.header, .superCard  {    
    justify-content: space-around;    
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.linksHeader {    
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
    padding-left: 0;
}

.heroDiv {    
    justify-content: space-evenly;        
    padding: 80px 0;
}

.h1Hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.heroDiv p {
    color: #f9faf8;
    font-size: 18px;
    margin: 0;    
}

.divImgHero {
    padding-top: 10px;
}

.imgHero {
    height: 200px;
    width: 400px;
}

.hero {        
    width: 450px;
}

.buttonHero {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;

}

/* Finish Header */

/* Start Main */
.randomInfo {
    font-size: 30px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 40px;
}

.card {   
    width: 150px
}

.frameImg {
    border-radius: 8px;
    height: auto;
    width: 150px;
}
.cards {    
    gap: 40px;
    margin: 40px 0 60px;
}

.quotation {    
    background-color: #e5e7eb;
    padding: 100px 180px
}

.quotation p {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}

.lastMain {    
    height: 300px;
    width: 100%;
    justify-content: center;    
}

.superCard {       
    background-color: #3882f6;
    color: white;
    border-radius: 20px;
    height: 140px;
    width: 70%;
    padding-left: 30px;
}

.buttonSuperCard {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 40px;
    border-radius: 8px;
    border: 2px solid white;
    margin: 50px;
}

.superCard h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.superCard p {
    font-weight: lighter;
    margin-top: 5px;
}

footer{    
    height:100px;
    width: 100%;
    color:#e5e7eb;    
    justify-content: center;    
}
/* Finish Main */